<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>

{% if error %}<p><strong>{{ error }}</strong></p>{% end if %}

<form action='' method="post" name='login' id='login-form'>
    <label for="username">Username:</label>
    <input type='text' name='username' id='username' /> <br/>
    <label for='password'>Password:</label>
    <input type='password' id='password' name='password'/>
    <input type='submit' name='submit' id='login-button' value='Login'>
</form>

</body>
</html>